

<head>
      <title>Final-Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <img src="http://concordianc.org/uploads/media/news/thumbs/roseparadelogo.jpg" alt="logo" />
     
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

        <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text">Rose Bowl</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="http://www.rosebowlstadium.com/about/history" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Find Out More!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://www.dafont.com/forum/attach/orig/3/7/370940.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">restore</i></h2>
            <h5 class="center">Past Events</h5>

              <p class="black-text">October 3, 1992 Metallica and Guns N' Roses for Guns N' Roses/Metallica Stadium Tour</p>
              <p class="black-text">January 31, 1993 Micheal Jackson performed for the Super Bowl.</p>
              <p class="black-text">August 7 and 8, 2014 Eminem and Rihana The Monster Tour.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">settings_backup_restore</i></h2>
            <h5 class="center">Recent Events</h5>

              <p class="black-text">October 10, 2015 CONCACAF CUP - MEXICO VS USA Final Score, 3-2</p>
              <p class="black-text">November 6, 2015 69th Annual Turkey Tussle</p>
              <p class="black-text">May 14, 2016 Beyoncé The Formation World Tour</p>
              
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">schedule</i></h2>
            <h5 class="center">Future Events</h5>

              <p class="black-text">June 4, 2016 COPA AMERICA - BRAZIL VS ECUADOR 7:00PM - 10:00PM</p>
              <p class="black-text">June 7, 2016 COPA AMERICA - COLOMBIA VS PARAGUAY 7:30PM	- 10:30PM</p>
              <p class="black-text">June 9, 2016 COPA AMERICA - MEXICO VS JAMAICA 7:00PM	- 10:00PM</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="white-text header col s12 ">The Rose Bowl was under construction from 1921 to 1922.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://s-media-cache-ak0.pinimg.com/736x/ac/89/8b/ac898be129a32186f71e298a1090657d.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send red-text"></i></h3>
          <h4>History</h4>
          <p class="black-text left-align">The Rose Bowl Game is an annual American college football bowl game, usually played on January 1 (New Year's Day) at the Rose Bowl stadium in Pasadena, California. When New Year's Day falls on a Sunday, the game is played on Monday, January 2 (14 times now). The Rose Bowl is nicknamed "The Granddaddy of Them All" because it is the oldest bowl game. It was first played in 1902, and has been played annually since 1916. Since 1945, it has been the highest attended college football bowl game. It is a part of the Tournament of Roses "America's New Year Celebration," which also includes the historic Tournament of Roses Parade.</p>
            <p class="black-text left-align">Originally titled the "Tournament East–West football game", the first Rose Bowl was played on January 1, 1902, starting the tradition of New Year's Day bowl games. The football game was added in 1902 to help fund the cost of the Rose Parade. The inaugural game featured Fielding H. Yost's dominating 1901 Michigan team, representing the East, which crushed a previously 3-1-2 team from Stanford University, representing the West, by a score of 49–0 after Stanford quit in the third quarter. Michigan finished the season 11–0 and was crowned the national champion. Yost had been Stanford's coach the previous year. The game was so lopsided that for the next 13 years, the Tournament of Roses officials ran chariot races, ostrich races, and other various events instead of football. But, on New Year's Day 1916 football returned to stay as The State College of Washington (now Washington State University) defeated Brown University in the first annual Rose Bowl with that explicit name.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12">The City of Roses</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://static01.nyt.com/images/2012/12/06/us/ROSEBOWL1/ROSEBOWL1-articleLarge.jpg"></div>
  </div>

  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Rose Bowl</h5>
          <p class="white-text text-lighten-4">Address: 1001 Rose Bowl Dr, Pasadena, CA 91103</p>
          <p class="white-text text-lighten-4">Capacity: 92,542</p>
          <p class="white-text text-lighten-4">Owner: Pasadena</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Points of Interest</h5>
          <ul>
            <li><a class="white-text" href="http://www.paseocolorado.com/">Paseo</a></li>
            <li><a class="white-text" href="http://gamblehouse.org/">Gamble House</a></li>
            <li><a class="white-text" href="http://www.pasadenaplayhouse.org/">Pasadena Playhouse</a></li>
            <li><a class="white-text" href="https://en.wikipedia.org/wiki/Colorado_Street_Bridge_(Pasadena,_California)">Colorado Street Bridge</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">More Information</h5>
          <ul>
            <li><a class="white-text" href="https://en.wikipedia.org/wiki/Rose_Bowl_(stadium)">Wiki</a></li>
            <li><a class="white-text" href="http://www.rosebowlstadium.com/about/rboc-info">About</a></li>
            <li><a class="white-text" href="http://www.rosebowlstadium.com/about/history">History</a></li>
            <li><a class="white-text" href="http://www.rosebowlstadium.com/events/events-calendar">Calendar</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by, <a class="white-text">Adrian Perez</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
